

html{
     
}

body{
  background: transparent url("../img_por_trabajar/profile_background/demon_bg.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #FFFDFD;
}

header {
    height: 224px;
    background: transparent linear-gradient(-45deg, #6C9 0%, #080909 100%) repeat scroll 0% 0%;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    opacity: 0.5;
}

footer {
    height: 150px;
    background: transparent linear-gradient(-45deg, #6C9 0%, #080909 100%) repeat scroll 0% 0%;
    opacity: 0.5;
}

output {
  color:black;
}

input {
  color:black;
}

#content {
  overflow: hidden;
  height: 750px;
  

}

#slider {
  width: 4500px;
  margin-left: -1300px;
}

#slider > div {
  height: 980px;
  width: 1300px;
  float: left;
  padding-top: 20px;
}




.playerthumb{
    width: 149px;;
    height: 149px;
    border-radius: 149px 149px 149px 149px
}
.fsize{
    font-size: 8em;
    color: dimgray;
}
.resizedTextbox{
    width: 60px; height: 25px
}
.armorSize{
    width: 150px;
    height: 150px;
}
.weaponSize{
    width: 150px;
    height: 150px;
}

.radio-inline{
    margin-bottom: 20px;
}


/*------FONTS------*/

@font-face {
    font-family: myFirstFont;
    src: url(../fonts/Adore-You.ttf);
}

.coolfont1 {
    font-family: myFirstFont;
    color: white;
    font-size: 60px;
}


/*----Bootstrap Overrides---*/

.main {
  margin-left: -15px;
}

a {
  color:  #F0F2F5;
}

h1, h2, h3 {
  
  color: white;
}

#tituloPrincipal {
  margin-top: -14px;
  padding-left: 15px;
}

#tituloSecundario{
  margin-top: -31px;
  padding-left: 42px;
}

#botonerasTitulo{
  margin-top: 2px;
  padding-left: 95px;
}

#dadosInput {
  margin-left: -200px;
}

#protectionInput {
  margin-left: -185px;
}


#row3paC {
    margin-top: 20px;
    margin-left: -25px;
}

#row4paC{
    margin-top: 20px;
}

#hpInput{
  margin-top: 19px;
}

#libPersScrollable {
  height:100%;
  overflow:hidden;
}

#gameTitulo{
   padding-left: 47px;
   margin-top: 1px;
}

#pageTitulo{
  margin-top: -15px;
}

#btnsDisplayPer{
   margin-left: 105px;
}

.modal-content{
    background: url("../img_por_trabajar/profile_background/orc_warrior_female_bg.jpg") no-repeat center center; 
}

#modal-content-attack{
   background: url("../img_por_trabajar/human/human_warrior_female_2.jpg") no-repeat; 
}
 
#modal-content-damage {
  background: url("../img_por_trabajar/human/human_thief_male_1.jpg") no-repeat; 
} 

#modal-content-buff{
  background: url("../img_por_trabajar/human/human_warrior_male_1.jpg") no-repeat; 
} 


.modal-dialog{

  margin-top: 300px;
}


#form-buff {
  margin-top: 15px;
}


@-moz-keyframes rotatebox /*--for firefox--*/{

    from{
        -moz-transform:rotate(0deg);
    }       
    to{
        -moz-transform:rotate(2880deg);
    }                       

}

@-webkit-keyframes rotatebox /*--for webkit--*/{

    from{
        -webkit-transform:rotate(0deg);
    }       
    to{
        -webkit-transform:rotate(2880deg);
    }                       

}




