

html{
}

body{
  background: transparent url("../img_por_trabajar/profile_background/orc_warrior_male_bg.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header {
    height: 350px;
    background: transparent url("../img_por_trabajar/profile_background/orc_warrior_female_bg.jpg") no-repeat center center; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
   /* opacity: 0.5;*/
}

footer {
    height: 150px;
    background: transparent linear-gradient(-45deg, #6C9 0%, #399 100%) repeat scroll 0% 0%;
    opacity: 0.5;
}

#content {
  overflow: hidden;
  height: 1200px;
}

#slider {
  width: 4500px;
}

#slider > div {
  height: 980px;
  width: 1500px;
  float: left;
}
.main{
    width: 1500px;
}

.container{
    padding-left: 0px;
}



.playerthumb{
    width: 149px;;
    height: 149px;
    border-radius: 149px 149px 149px 149px
}
.fsize{
    font-size: 8em;
    color: dimgray;
}
.resizedTextbox{
    width: 60px; height: 25px
}
.armorSize{
    width: 150px;
    height: 150px;
}
.weaponSize{
    width: 150px;
    height: 150px;
}

.radio-inline{
    margin-bottom: 20px;
}


/*------FONTS------*/

@font-face {
    font-family: myFirstFont;
    src: url(../fonts/Adore-You.ttf);
}

.coolfont1 {
    font-family: myFirstFont;
    color: white;
    font-size: 60px;
}
